@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';


@import './global/grid';

@import './global/variables';


@import './global/global';


@import './mixin/mixin';
